{
    "useTabs": false,
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "printWidth": 100,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4
}
